<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title></title>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title"><a href="{% url 'index' %}">eICU Management System</a></h1>
        <p>You are login, Welcome Admin: <a href="#">{{ user.username }}</a></p>
        <br>
        <div class="tabs">
          <ul>
            <li class="tablinks"><a>Insertion</a></li>
            <li class="tablinks is-active"><a>Deletion</a></li>
            <li class="tablinks"><a>Query</a></li>
            <li class="tablinks"><a>Statistics</a></li>
          </ul>
        </div>

        <!-- This is the element to select a stayid for deletion -->
        <form action = "{% url 'delete_success' %}">
          {% csrf_token %}
          <label class="label"> Select a stay to delete </label>
          <div class="select">
            <select name='stayid'>
              {% for i in allStays %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div><br>
          <input type="hidden" name="ptid" value={{ptid}}>
          <br>

          <button class="button is-danger is-small" type="submit" name="" value="Delete">Delete</button>
          <button class="button is-link is-small" type="button" name="" value="Back" onClick="javascript:history.go(-1);">Return</button>

          {% if messages %}
            <script>
              {% for message in messages %}
                alert('{{ message.message }}');
              {% endfor %}
            </script>
          {% endif %}

          <br>
        </form>
      </div>
    </section>
  </body>
</html>
