<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Visualize</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title"><a href="{% url 'index' %}">eICU Management System</a></h1>

        {% if perms.query.view_graph %}
          {% if perms.main.can_delete_user %}
            <p>You are login, Welcome Admin: <a href="#">{{ user.username }}</a></p>
          {% else %}
            <p>You are login, Welcome Doctor: <a href="#">{{ user.username }}</a></p>
          {% endif %}
        {% else %}
          <p>You are login, Welcome Patient: <a href="#">{{ user.username }}</a></p>
        {% endif %}

        <br>
        {% if perms.query.view_graph %}
          <div class="tabs">
            <ul>
                <li class="tablinks"><a>Insertion</a></li>
                <li class="tablinks"><a>Update</a></li>
                <li class="tablinks"><a>Query</a></li>
                <li class="tablinks is-active"><a>Statistics</a></li>
            </ul>
          </div>
        {% else %}
          <div class="tabs">
            <ul>
              <li class="tablinks is-active"><a>Query</a></li>
            </ul>
          </div>
        {% endif %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {

          var ethn_data = new google.visualization.DataTable();
          ethn_data.addColumn('string');
          ethn_data.addColumn('number');
          {%for i in ethn_stats %}
            ethn_data.addRow(['{{ i.0 }}', {{ i.1 }}]);
          {%endfor%}

          var gender_data = new google.visualization.DataTable();
          gender_data.addColumn('string');
          gender_data.addColumn('number');
          {%for i in gender_stats %}
            gender_data.addRow(['{{ i.0 }}', {{ i.1 }}]);
          {%endfor%}

          var age_data = new google.visualization.DataTable();
          age_data.addColumn('string');
          age_data.addColumn('number');
          {%for i in age_stats %}
            age_data.addRow(['{{ i.0 }}', {{ i.1 }}]);
          {%endfor%}

          var alive_data = new google.visualization.DataTable();
          alive_data.addColumn('string');
          alive_data.addColumn('number');
          {%for i in alive_stats%}
            alive_data.addRow(['{{ i.0 }}', {{ i.1 }}]);
          {%endfor%}

          var drug_data = new google.visualization.DataTable();
          drug_data.addColumn('string');
          drug_data.addColumn('number');
          {%for i in drug_stats%}
            drug_data.addRow(['{{ i.0 }}', {{ i.1 }}]);
          {%endfor%}

          var infect_data = new google.visualization.DataTable();
          infect_data.addColumn('string');
          infect_data.addColumn('number');
          {%for i in infect_stats%}
            infect_data.addRow(['{{ i.0 }}', {{ i.1 }}]);
          {%endfor%}


          // Display the chart inside the <div> element with id="piechart"
          var piechart_options = {title:'Ethnicity Distribution',
                                  width:600,
                                  height:400,
                                  titleTextStyle: {
                                    color: '#33334d',    // any HTML string color ('red', '#cc00cc')
                                    fontName: 'Arial', // i.e. 'Times New Roman'
                                    bold: true,    // true or false
                                    italic: false,
                                    is3D: true,   // true of false
                                },
                                  is3D: true
                    };
          var piechart = new google.visualization.PieChart(document.getElementById('ethn_div'));
          piechart.draw(ethn_data, piechart_options);


          var piechart = new google.visualization.PieChart(document.getElementById('gender_div'));
          piechart.draw(gender_data, piechart_options, piechart_options.title='Gender Distribution');

          var barchart_options = {title:'Age Distribution',
                                  width:600,
                                  height:400,
                                  titleTextStyle: {
                                    color: '#33334d',    // any HTML string color ('red', '#cc00cc')
                                    fontName: 'Arial', // i.e. 'Times New Roman'
                                    bold: true,    // true or false
                                    italic: false   // true of false
                                },
                                  is3D: true,
                                  legend: 'none'};
          var barchart = new google.visualization.BarChart(document.getElementById('age_div'));
          barchart.draw(age_data, barchart_options);

          var piechart = new google.visualization.PieChart(document.getElementById('alive_div'));
          piechart.draw(alive_data, piechart_options, piechart_options.title='Discharge Status');

          var piechart = new google.visualization.PieChart(document.getElementById('drug_div'));
          piechart.draw(drug_data, piechart_options, piechart_options.title='Top 10 Drugs');

          var barchart = new google.visualization.BarChart(document.getElementById('infect_div'));
          barchart.draw(infect_data, barchart_options, barchart_options.title='Top 10 Complicated Infections');
        }
        </script>
          <table>
            <tr>
              <td>Disease: {{disease_name}}</td>
            </tr>
            <tr>
              <td>ICD9 Code: {{icd9code}}</td>
            </tr>
            <tr>
              <td>Totoal Number of Stays: {{n_stays}}</td>
            </tr>
          </table><br>
          <table>
            <tr>
              <td><div id="ethn_div" style="border: 1px solid #ccc"></div></td>
              <td><div id="gender_div" style="border: 1px solid #ccc"></div></td>
            </tr>
            <tr>
              <td><div id="age_div" style="border: 1px solid #ccc"></div></td>
              <td><div id="alive_div" style="border: 1px solid #ccc"></div></td>
            </tr>
            <tr>
              <td><div id="drug_div" style="border: 1px solid #ccc"></div></td>
              <td><div id="infect_div" style="border: 1px solid #ccc"></div></td>
            </tr>
          </table><br>
          
        <button class="button is-link is-small" type="button" name="" value="Back" onClick="javascript:history.go(-1);">Return</button>
      </div>
</html>
