<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Reset Link has been sent</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container-wider">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">eICU Management System</a></h1>
            <h3>Reset Link has been sent</h3>
            <p>
                If your provided address if valid, the reset link will be sent to you immediately.
            </p>
            <p>
                If you didn't receive the email, please make sure your address is valid and check you junk folder.
            </p>
        </div>
    </div>
</div>
</body>
</html>